
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bon'App Pizza - @ViewBag.Title</title>
    <link href="@Url.Content("~/Content/bootstrap/bootstrap.min.css")"
          rel="stylesheet" />
    <style>
        body {
            padding-top: 60 px;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class ="container">
            <div class= "navbar-header">
                <a class="navbar-brand" href="#">Bon'App Pizza</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li id="menuPaises">
                        @Html.ActionLink("Estados", "Index", "Estados")
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        @RenderBody()
    </div>

    <script src="@Url.Content("~/Scripts/jquery-2.0.2.min.js")">

    </script>

    <script src="@Url.Content("~/Script/bootstrap.min.js")">
        </script>"
    @RenderSection("script", required: false);
</body>
</html>
